In [1]:
import read_data as imp
import numpy as np
import pandas as pd
import pyfolio as pf
import matplotlib.pyplot as plt
import seaborn as sns
from ta import *
import itertools as it
# Para la implementacion de ta en análisis técnico, ver:
# https://buildmedia.readthedocs.org/media/pdf/technical-analysis-library-in-python/latest/technical-analysis-library-in-python.pdf

import warnings
warnings.filterwarnings("ignore")

C:\Anaconda3\lib\site-packages\pyfolio\pos.py:27: UserWarning: Module "zipline.assets" not found; mutltipliers will not be applied to position notionals.
  'Module "zipline.assets" not found; mutltipliers will not be applied' +

In [2]:
def normalize(x,time):
    return (x-x.rolling(time, min_periods = 1).min())/(x.rolling(time, min_periods = 1).max()-x.rolling(time, min_periods = 1).min())

def max_rate(x,time):
    return x/x.rolling(time, min_periods = 1).max()

def min_rate(x,time):
    return x/x.rolling(time, min_periods = 1).min()

def past_return(x,n):
    y = pd.DataFrame()
    for i in range(n):
        key = 'T-'+str(i+1)
        y[key] = x['Close']/x['Close'].shift(i+1)-1
    return y

In [3]:
dr = 0.01               # Desired return
Time_Window = 3         # Time window to see into the future
P_Ret = 10              # Past return to consider
max_min_tw = 10         # timewindow for support and resistance
n_means=[[20],[200]]    # moving averages for features
windows_ref = 60        # past information needed to normalize
precision = 0.99        # precision to pick the number of eigen vectors to use

dropable_col = ['volatility_kchi', 'volatility_kcli', 'trend_adx', 'trend_adx_pos',
                'volatility_atr', 'volatility_bbhi', 'volatility_dchi', 'trend_adx_neg']

In [4]:
symbols = ['SPY','XLP','XLY','XLE','XLF','XLV','XLI','XLK','XLU']
features = list(pd.read_csv("Features.txt", sep="\n", header=None)[0].values)

In [5]:
years = [x for x in range(2000,2019)]
hist_data = imp.organizarTodo(symbols,years)
hist_feature = imp.organizarTodo(features,years,True)

In [6]:
features = {**hist_data, **hist_feature}
SPY = features.pop('SPY')
SPY

                Open      High       Low     Close     Volume
Date
2000-01-03  148.2500  148.2500  143.8750  145.4375    8164300
2000-01-04  143.5313  144.0625  139.6406  139.7500    8089800
2000-01-05  139.9375  141.5313  137.2500  140.0000   12177900
2000-01-06  139.6250  141.5000  137.7500  137.7500    6227200
2000-01-07  140.3125  145.7500  140.0625  145.7500    8066500
2000-01-10  146.2500  146.9063  145.0313  146.2500    5741700
2000-01-11  145.8125  146.0938  143.5000  144.5000    7503700
2000-01-12  144.5938  144.5938  142.8750  143.0625    6907700
2000-01-13  144.4688  145.7500  143.2813  145.0000    5158300
2000-01-14  146.5313  147.4688  145.9688  146.9688    7437300
2000-01-17  146.5313  147.4688  145.9688  146.9688    7437300
2000-01-18  145.3438  146.6250  145.1875  145.8125    6488500
2000-01-19  145.3125  147.0000  145.0000  147.0000    6157900
2000-01-20  146.9688  146.9688  143.8125  144.7500    5821500
2000-01-21  145.5000  145.5000  144.0625  144.4375    6244800
2000-01-24  145.6563  145.8438  139.4063  140.3438    7896900
2000-01-25  140.5156  141.9375  139.0000  141.9375    9942500
2000-01-26  141.0000  141.5469  140.0938  140.8125    5158100
2000-01-27  141.8438  142.2188  138.1250  140.2500   10922700
2000-01-28  139.4375  140.0625  135.5313  135.8750   11916200
2000-01-31  135.8125  139.6719  135.0000  139.5625   10768700
2000-02-01  139.7500  141.6875  138.5313  140.9375    8419900
2000-02-02  141.2813  142.2500  140.3750  141.0625    6205900
2000-02-03  140.8750  143.2500  140.0000  143.1875    7997500
2000-02-04  143.1875  144.0000  142.1250  142.5938    4925400
2000-02-07  142.5625  142.7813  141.4375  142.3750    5846800
2000-02-08  143.9688  144.5625  143.6250  144.3125    4936500
2000-02-09  144.4688  144.4688  141.2656  141.2813    8511500
2000-02-10  141.6250  142.5625  140.8750  141.5625    6690600
2000-02-11  141.8438  141.9375  138.0313  138.6875    9849800
...              ...       ...       ...       ...        ...
2018-11-21  265.8600  267.1500  265.0100  265.0200   75563743
2018-11-22  265.8600  267.1500  265.0100  265.0200   75563743
2018-11-23  263.1800  264.8234  263.0700  263.2500   42807878
2018-11-26  265.7800  267.7500  265.3400  267.5000   79981362
2018-11-27  266.3400  268.4000  265.6600  268.4000   75502441
2018-11-28  269.6000  274.5800  268.3272  274.5800  127629633
2018-11-29  273.7100  275.5500  272.4300  273.9800   82346420
2018-11-30  273.8100  276.2800  273.4500  275.6500   98204190
2018-12-03  280.2800  280.4000  277.5050  279.3000  103017719
2018-12-04  278.3700  278.8500  269.9000  270.2500  177986013
2018-12-05  278.3700  278.8500  269.9000  270.2500  177986013
2018-12-06  265.9200  269.9700  262.4400  269.8400  204185411
2018-12-07  269.4600  271.2200  262.6300  263.5700  161018923
2018-12-10  263.3700  265.1613  258.6200  264.0700  151445885
2018-12-11  267.6600  267.8700  262.4800  264.1300  121504431
2018-12-12  267.4700  269.0000  265.3700  265.4600   97976706
2018-12-13  266.5200  267.4900  264.1200  265.3700   96662717
2018-12-14  262.9600  264.0300  259.8500  260.4700  116961071
2018-12-17  259.4000  260.6500  253.5250  255.3600  165492257
2018-12-18  257.2000  257.9500  253.2800  255.0800  134515094
2018-12-19  255.1700  259.4000  249.3500  251.2600  214992763
2018-12-20  249.8600  251.6200  244.6500  247.1700  252053377
2018-12-21  246.7400  249.7100  239.9800  240.7000  255345633
2018-12-24  239.0400  240.8355  234.2700  234.3400  147311588
2018-12-25  239.0400  240.8355  234.2700  234.3400  147311588
2018-12-26  235.9700  246.1800  233.7600  246.1800  218485360
2018-12-27  242.5700  248.2900  238.9600  248.0700  186267342
2018-12-28  249.5800  251.4000  246.4500  247.7500  153100189
2018-12-31  249.5600  250.1900  247.4700  249.9200  144299370
2019-01-01  249.5600  250.1900  247.4700  249.9200  144299370

[4957 rows x 5 columns]

In [7]:
HF = pd.DataFrame(columns=hist_feature.keys())

for feat,df in hist_feature.items():
    df_aux = df.copy()
    HF[feat] = df_aux['Close']
    for i in it.product(*n_means):
        HF[feat+'_MAS_'+str(i[1])+"_"+str(i[0])] = df_aux['Close'].rolling(window=i[1], min_periods = 1).mean()-df_aux['Close'].rolling(window=i[0], min_periods = 1).mean()
        HF[feat+'_MAR_'+str(i[1])+"_"+str(i[0])] = df_aux['Close'].rolling(window=i[1], min_periods = 1).mean()/df_aux['Close'].rolling(window=i[0], min_periods = 1).mean()
        HF[feat+'_EMAS_'+str(i[1])+"_"+str(i[0])] = df_aux['Close'].ewm(span=i[1], adjust=False, min_periods = 1).mean()-df_aux['Close'].ewm(span=i[0], adjust=False, min_periods = 1).mean()
        HF[feat+'_EMAR_'+str(i[1])+"_"+str(i[0])] = df_aux['Close'].ewm(span=i[1], adjust=False, min_periods = 1).mean()/df_aux['Close'].ewm(span=i[0], adjust=False, min_periods = 1).mean()
HF = HF.apply(normalize, time = windows_ref)

In [8]:
buy = np.array(SPY['Close']/SPY['Close'].shift(-Time_Window)-1 > dr)
sell = np.array(SPY['Close']/SPY['Close'].shift(-Time_Window)-1 < -dr)
Class = np.zeros(SPY.shape[0])
Class[np.where(buy)] = 1
Class[np.where(sell)] = -1
Class = pd.DataFrame(Class)
Class.columns = ['Class']

In [9]:
aux = SPY.copy()
SPY = add_all_ta_features(SPY, "Open", "High", "Low", "Close", "Volume", fillna=True)
SPY['Vol_Max'] = max_rate(SPY['Volume'],max_min_tw)
SPY['Clo_Max'] = max_rate(SPY['Close'],max_min_tw)
SPY['Ope_Max'] = max_rate(SPY['Open'],max_min_tw)
SPY['Hig_Max'] = max_rate(SPY['High'],max_min_tw)
SPY['Low_Max'] = max_rate(SPY['Low'],max_min_tw)

SPY['Vol_Min'] = max_rate(SPY['Volume'],max_min_tw)
SPY['Clo_Min'] = max_rate(SPY['Close'],max_min_tw)
SPY['Ope_Min'] = max_rate(SPY['Open'],max_min_tw)
SPY['Hig_Min'] = max_rate(SPY['High'],max_min_tw)
SPY['Low_Min'] = max_rate(SPY['Low'],max_min_tw)

SPY['Support'] = SPY['Close']/SPY['High'].rolling(window=max_min_tw, min_periods = 1).max()-1
SPY['Resistance'] = SPY['Close']/SPY['Low'].rolling(window=max_min_tw, min_periods = 1).min()-1

SPY = SPY.apply(normalize, time = windows_ref)
SPY = SPY.drop(dropable_col, axis = 1)

df_past_r = past_return(aux, n = P_Ret)

Class.index = SPY.index
SPY = pd.concat([Class, SPY], axis = 1)
SPY = SPY.iloc[[not i for i in list(SPY['Close'].isna())],:]
SPY.to_excel('Data.xlsx')